@use 'variables';
@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@mixin fontSize-title {
  font-family: variables.$fontFamilyTitle;
  font-size: variables.$fontSize-title;
  font-weight: 900;
  @include mixins.sm {
    font-size: variables.$fontSize-title-sm;
  }
}

@mixin fontSize-subtitle {
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize-subtitle;
  font-weight: 500;
  @include mixins.sm {
    font-size: variables.$fontSize-subtitle-sm;
  }
}

@mixin fontSize-paragraph {
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize-paragraph;
  @include mixins.lg {
    font-size: 16px;
  }
  @include mixins.sm {
    font-size: variables.$fontSize-paragraph-sm;
  }
}

@mixin fontSize-paragraph2 {
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize-paragraph2;
  @include mixins.sm {
    font-size: variables.$fontSize-paragraph2-sm;
  }
}

@mixin fontSize-paragraph3 {
  font-family: variables.$fontFamily;
  font-size: variables.$fontSize-paragraph3;
  @include mixins.lg {
    font-size: 12px;
  }
  @include mixins.sm {
    font-size: variables.$fontSize-paragraph3-sm;
  }
}
