/* Tableau de coresspondance "rem" -> "px"
    Pour 100% :
    0.25rem; //4px
    0.5rem; //8px
    0.75rem; //12px
    0.875; //14px
    1rem; //16px
    1.0625rem //17px
    1.125rem //18px
    1.25rem; //20px
    1.375rem //22px
    1.5rem; //24px
    1.88rem //30px
    2rem; //32px
    3rem; //48px
    4rem; //64px
    5rem; //80px
    */

// => Colors -------------------------------------------------
$color-primary: #61dafbaa;
$color-secondary: #213547;
$color-tertiary: #646cffaa;

$color-surface: #ffffff;
$color-surface-container: #f9f9f9;
$color-surface-dim: #371b05;

$color-black: #000000;

$color-gradient: linear-gradient(
  117deg,
  $color-primary 0%,
  $color-tertiary 100%
);

// => Font Family -------------------------------------------------

$fontFamilyTitle: 'Shrikhand', serif;
$fontFamily: 'Montserrat', sans-serif;

// => Font Size -------------------------------------------------

$fontSize-title: 48px;
$fontSize-title-sm: 24px;

$fontSize-subtitle: 24px;
$fontSize-subtitle-sm: 12px;

$fontSize-paragraph: 20px;
$fontSize-paragraph-sm: 14px;

$fontSize-paragraph2: 18px;
$fontSize-paragraph2-sm: 12px;

$fontSize-paragraph3: 14px;
$fontSize-paragraph3-sm: 10px;

$fontSize-dropdown-lg: 24px;
$fontSize-dropdown-md: 18px;
$fontSize-dropdown-sm: 13px;

$fontSize-label: 14px;
$fontSize-label-sm: 10px;

// => Border Raduis -------------------------------------------------

$borderRaduis-lg: 5px;
$borderRaduis-md: 10px;

$borderRaduis-round: 500px;

// => Breakpoints -------------------------------------------------

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
